.defaultlaf * {
  font-family: arial;
}

.defaultlaf .jcheckbox {
  align-items: baseline;
}

.defaultlaf .jradiobutton {
  align-items: flex-start;
}

.defaultlaf .jtogglebutton {
  align-items: baseline;
}