.defaultlaf * {
  font-family: arial;
}

.defaultlaf .jcheckbox {
  align-items: baseline;
}

.defaultlaf .jradiobutton {
  align-items: flex-start;
}

.defaultlaf .jtabbedpane .borderlayout-north ul li, .defaultlaf .jtabbedpane .borderlayout-south ul li {
  display: inline-block;
}

.defaultlaf .jtogglebutton {
  align-items: baseline;
}
