.jsbutton {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--main-action-color);
  background: var(--main-action-bgcolor);

  border: 2px solid var(--main-action-bgcolor);
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  display: flex;
  column-gap: .5rem;
  align-items: center;
  justify-content: center;
  outline: none;
}

.jsbutton:hover {
  filter: drop-shadow(.15rem .15rem .15rem var(--main-action-bgcolor));
}
.jsbutton:active {
  filter: saturate(0.5) drop-shadow(.15rem .15rem .15rem var(--main-action-bgcolor));
}
.jsbutton:disabled {
  filter: opacity(0.5);
  cursor: default;
}

.jsbutton-outline {
  color: var(--main-color);
  background: var(--main-bgcolor);
}
.jsbutton-outline:active {
  background-image: linear-gradient(
    90deg,
    var(--main-action-bgcolor) 0,
    var(--main-bgcolor) 15%,
    var(--main-bgcolor) 85%,
    var(--main-action-bgcolor) 100%
    );
}