.jscheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.jscheckbox img {
  margin-right: .5rem;
}

.jscheckbox input {
  font-family: var(--font-family);
  font-size: 2rem;
  color: var(--main-action-bgcolor);

  cursor: pointer;
  appearance: none;
  margin: 0 0.2rem 0 0;
  outline: none;
}
.jscheckbox input:hover {
  filter: drop-shadow(.15rem .15rem .15rem var(--main-action-bgcolor));
}
.jscheckbox input::after {
  content: "\2610";
}
.jscheckbox input:checked::after {
  content: "\2611";
}

.jscheckbox:has(input:disabled), .jscheckbox input:disabled {
  filter: opacity(0.5);
  cursor: default;
}