.jscombobox {
  min-width: 10rem;
}

.jscombobox ul {
  padding: 0 !important;
  list-style: none;
  width: fit-content;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
}

.jscombobox li {
  padding: .5rem;
  cursor: pointer;
}
.jscombobox li:hover {
  border-radius: .5rem;
  color: var(--main-action-color);
  background: var(--main-action-bgcolor);
}
.jscombobox li * {
  cursor: pointer;
}
.jscombobox li:hover * {
  color: var(--main-action-color);
  background: var(--main-action-bgcolor);
}
