.jscombobox {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--main-color);

  min-width: 10rem;
  border: 2px solid var(--main-action-bgcolor);
  border-radius: .5rem;
}
.jscombobox:hover:not([disabled]), .jscombobox:has(summary:focus) {
  box-shadow: .15rem .15rem .15rem var(--main-action-bgcolor);
}
.jscombobox[disabled] {
  filter: opacity(0.5);
  cursor: default;
  pointer-events: none;
}

.jscombobox summary {
  list-style: none;
  cursor: pointer;
  padding: .5rem;
  min-height: 2.4ex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}
.jscombobox summary::-webkit-details-marker {
  display: none;
}
.jscombobox summary::after {
  content: "\25BC";
  color: var(--main-action-bgcolor);
}
.jscombobox summary * {
  cursor: pointer;
  pointer-events: none;
}

.jscombobox ul {
  z-index: 100;
  position: absolute;
  list-style: none;
  width: fit-content;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  margin: .5rem 0 0 0;
  padding: 0;
  box-shadow: 0 0 .5rem var(--main-action-bgcolor);
  border-radius: .5rem;
  background: var(--main-bgcolor);
}

.jscombobox li {
  padding: .5rem;
  cursor: pointer;
}
.jscombobox li:hover {
  border-radius: .5rem;
  color: var(--main-action-color);
  background: var(--main-action-bgcolor);
}
.jscombobox li * {
  cursor: pointer;
}
.jscombobox li:hover * {
  color: var(--main-action-color);
  background: var(--main-action-bgcolor);
}
