.jscolorpanel {
}

.jscolorpanel .jstabbedpane {
  width: 45rem;
  height: 22rem;
}

.jscolorpanel-preview {
  height: 2rem;
  display: grid;
  grid-template: "c1 c2";
  border-radius: var(--roundness);
  background-position: 0 0, 0 1rem;
  background-repeat: repeat-x;
  background-size: 2rem 1rem, 2rem 1rem;
  background-image: linear-gradient(90deg, #DDD 1rem, white 1rem), linear-gradient(90deg, white 1rem, #DDD 1rem);
}

.jscolorpanel-preview-opaque {
  grid-area: c1;
  border-top-left-radius: var(--roundness);
  border-bottom-left-radius: var(--roundness);
}

.jscolorpanel-preview-transparent {
  grid-area: c2;
  border-top-right-radius: var(--roundness);
  border-bottom-right-radius: var(--roundness);
}
