.jsdropdown {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--main-color);

  border: 2px solid var(--main-action-bgcolor);
  border-radius: var(--roundness);
}
.jsdropdown:hover:not([disabled]), .jsdropdown:has(summary:focus) {
  box-shadow: .15rem .15rem .15rem var(--main-action-bgcolor);
}
.jsdropdown[disabled] {
  filter: opacity(0.5);
  cursor: default;
  pointer-events: none;
}

.jsdropdown summary {
  list-style: none;
  cursor: pointer;
  padding: .5rem;
  min-height: 2.4ex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}
.jsdropdown summary::-webkit-details-marker {
  display: none;
}
.jsdropdown summary::after {
  content: "\25BC";
  color: var(--main-action-bgcolor);
}
.jsdropdown summary * {
  cursor: pointer;
  pointer-events: none;
}

.jsdropdown > *:nth-child(2) {
  z-index: 100;
  position: absolute;
  margin: .5rem 0 0 0;
  padding: .5rem;
  box-shadow: 0 0 .5rem var(--main-action-bgcolor);
  border-radius: .5rem;
  background: var(--main-bgcolor);
  visibility: hidden;
  top: 0px;
  left: 0px;

}