.jsradiobutton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.jsradiobutton:not([role=toggle]) img {
  margin-right: .5rem;
}

.jsradiobutton input {
  font-family: var(--font-family);
  font-size: 2rem;
  color: var(--main-action-bgcolor);

  cursor: pointer;
  appearance: none;
  margin: 0 0.2rem 0 0;
  outline: none;
}
.jsradiobutton input:hover, .jsradiobutton input:focus {
  filter: drop-shadow(.15rem .15rem .15rem var(--main-action-bgcolor));
}
.jsradiobutton input::after {
  content: "\29BE";
}
.jsradiobutton input:checked::after {
  content: "\29BF";
}

.jsradiobutton:has(input:disabled), .jsradiobutton input:disabled {
  filter: opacity(0.5);
  cursor: default;
}

.jsradiobutton[role=toggle] {
  color: var(--main-action-color);
  background: var(--main-action-bgcolor);

  padding: .5rem;
  border-radius: var(--roundness);
  cursor: pointer;
  justify-content: center;
  border: 2px solid var(--main-action-bgcolor);
}
.jsradiobutton[role=toggle]:hover, .jsradiobutton[role=toggle]:has(input:focus) {
  filter: drop-shadow(.15rem .15rem .15rem var(--main-action-bgcolor));
}
.jsradiobutton[role=toggle]:has(input:checked) {
  filter: saturate(0.5);
}
.jsradiobutton[role=toggle]:hover:has(input:checked), .jsradiobutton[role=toggle]:has(input:checked:focus) {
  filter: saturate(0.5) drop-shadow(.15rem .15rem .15rem var(--main-action-bgcolor));
}
.jsradiobutton[role=toggle]:has(input:disabled) {
  filter: opacity(0.5);
}
.jsradiobutton[role=toggle]:has(input:disabled):has(input:checked) {
  filter: opacity(0.5) saturate(0.5);
}
.jsradiobutton[role=toggle] input {
  width: 0px;
  display: none;
}
.jsradiobutton[role=toggle] input::after {
  content: "";
}
.jsradiobutton[role=toggle] input:checked::after {
  content: "";
}

.jsradiobutton[role=toggle].jsradiobutton-outline {
  color: var(--main-color);
  background: var(--main-bgcolor);
}
.jsradiobutton[role=toggle].jsradiobutton-outline:has(input:checked) {
  background-image: linear-gradient(
    90deg,
    var(--main-action-bgcolor) 0,
    var(--main-bgcolor) 15%,
    var(--main-bgcolor) 85%,
    var(--main-action-bgcolor) 100%
    );
}