.jsspinner {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--main-color);
  background: var(--main-bgcolor);

  display: grid;
  grid-template:
    "num up" 1fr
    "num down" 1fr /
    1fr auto;

  min-width: 10rem;
  border: 2px solid var(--main-action-bgcolor);
  border-radius:  var(--roundness);
}
.jsspinner:hover:not([disabled]), .jsspinner:has(input:focus) {
  box-shadow: .15rem .15rem .15rem var(--main-action-bgcolor);
}
.jsspinner[disabled] {
  filter: opacity(0.5);
}
.jsspinner input::-webkit-inner-spin-button,
.jsspinner input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.jsspinner input[type=number] {
  -moz-appearance: textfield;
}

.jsspinner input {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--main-color);
  background: transparent;

  border: none;
  outline: none;
  text-align: right;
}
.jsspinner button {
  font-family: var(--font-family);
  font-size: 0.9rem;

  background: none;
  border: none;
  cursor: pointer;
  color: var(--main-action-bgcolor);
  outline: none;
}
.jsspinner[disabled] button {
  cursor: default;
}
.jsspinner button:active {
  filter: saturate(0.5);
}
