.jsspinner {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--main-color);
  background: var(--main-bgcolor);

  min-width: 10rem;
  min-height: 2.4ex;
  border: 2px solid var(--main-action-bgcolor);
  border-radius: .5rem;
  text-align: right;
  padding: .5rem;
  outline: none;
}
.jsspinner:hover:not([disabled]) {
  box-shadow: .15rem .15rem .15rem var(--main-action-bgcolor);
}
.jsspinner[disabled] {
  filter: opacity(0.5);
}
.jsspinner::-webkit-inner-spin-button,
.jsspinner::-webkit-outer-spin-button {
  opacity: 1;
  margin-left: 0.3rem;
  cursor: pointer;
}