.jstabbedpane {
}
.jstabbedpane nav ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  display: flex;
}
.jstabbedpane .west ul, .jstabbedpane .east ul {
  flex-direction: column;
  height: 100%;
}
.jstabbedpane nav input::after {
  display: none;
}

.jstabbedpane .north:has(input) {
  border-bottom: 2px solid var(--main-action-bgcolor);
}
.jstabbedpane .south:has(input) {
  border-top: 2px solid var(--main-action-bgcolor);
}
.jstabbedpane .west:has(input) {
  border-right: 2px solid var(--main-action-bgcolor);
}
.jstabbedpane .east:has(input) {
  border-left: 2px solid var(--main-action-bgcolor);
}

.jstabbedpane .north li .jsradiobutton,
.jstabbedpane .south li .jsradiobutton {
  padding: 0.7rem 1rem;
}
.jstabbedpane .west li .jsradiobutton,
.jstabbedpane .east li .jsradiobutton {
  padding: 0.7rem 1rem;
}

.jstabbedpane li:has(input) {
  border-radius:  var(--roundness);
  border: 2px solid transparent;
}
.jstabbedpane li:has(input:checked) {
  border: 2px solid var(--main-action-bgcolor);
}

.jstabbedpane .north li:has(input) {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jstabbedpane .south li:has(input) {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.jstabbedpane .west li:has(input) {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jstabbedpane .east li:has(input) {
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.jstabbedpane .north li:has(input:checked):hover {
  box-shadow: .15rem .15rem .15rem var(--main-action-bgcolor);
}
.jstabbedpane .south li:has(input:checked):hover {
  box-shadow: .15rem -.15rem .15rem var(--main-action-bgcolor);
}
.jstabbedpane .west li:has(input:checked):hover {
  box-shadow: .15rem .15rem .15rem var(--main-action-bgcolor);
}
.jstabbedpane .east li:has(input:checked):hover {
  box-shadow: -.15rem .15rem .15rem var(--main-action-bgcolor);
}

.jstabbedpane .north li:has(input:not(:checked)):hover {
  border: 2px solid var(--main-action-bgcolor);
  border-bottom: none;
}
.jstabbedpane .south li:has(input:not(:checked)):hover {
  border: 2px solid var(--main-action-bgcolor);
  border-top: none;
}
.jstabbedpane .west li:has(input:not(:checked)):hover {
  border: 2px solid var(--main-action-bgcolor);
  border-right: none;
}
.jstabbedpane .east li:has(input:not(:checked)):hover {
  border: 2px solid var(--main-action-bgcolor);
  border-left: none;
}