.picolaf input:not([type=checkbox],[type=radio]), .picolaf select, .picolaf textarea, .picolaf fieldset legend, .picolaf label, .picolaf progress {
  margin-bottom: 0px;
}

.picolaf .jdialog header button {
  background-image: var(--pico-icon-close);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.picolaf .jcheckbox {
  align-items: center;
}

.picolaf .jcombobox {
  width: auto;
}

.picolaf .jprogressbar label {
  -webkit-text-fill-color: initial !important;
}
.picolaf .jprogressbar progress {
  font-size: var(--pico-font-size);
  border-radius: calc(var(--pico-border-radius) + 1rem);
}
.picolaf .jprogressbar.jprogressbar-horizontal progress {
  height: calc(var(--pico-font-size) - .5rem);
}
.picolaf .jprogressbar.jprogressbar-vertical progress {
  width: calc(var(--pico-font-size) - .5rem);
}

.picolaf .jradiobutton {
  align-items: end;
}

.picolaf .jslider input {
  width: auto;
  height: auto;
}
html[data-theme=dark] .picolaf .jslider > input.no-paint-track::-webkit-slider-runnable-track {
  background-color: transparent;
}
html[data-theme=dark] .picolaf .jslider > input.no-paint-track::-ms-track {
  background-color: transparent;
}
html[data-theme=dark] .picolaf .jslider > input.no-paint-track::-moz-range-track {
  background-color: transparent;
}
.picolaf .jslider-vertical [type=range]::-webkit-slider-runnable-track {
  width: .375rem;
}
.picolaf .jslider-vertical [type=range]::-moz-range-track {
  width: .375rem;
}
.picolaf .jslider-vertical [type=range]::-ms-track {
  width: .375rem;
}
.picolaf .jslider-vertical [type=range]::-webkit-slider-thumb {
  margin-top: 0px;
  margin-left: -.4375rem;
}
.picolaf .jslider-vertical [type=range]::-moz-range-thumb {
  margin-top: 0px;
  margin-left: -.4375rem;
}
.picolaf .jslider-vertical [type=range]::-ms-thumb {
  margin-top: 0px;
  margin-left: -.4375rem;
}

.picolaf .jspinner {
  width: auto;
}

.picolaf .jtabbedpane nav {
  display: block;
}
.picolaf .jtabbedpane ul {
  margin-left: auto;
  margin-right: auto;
}
.picolaf .jtabbedpane .borderlayout-north ul li {
  border-bottom: 2px solid transparent;
}
.picolaf .jtabbedpane .borderlayout-north ul li:has(.jradiobutton.active) {
  border-bottom: 2px solid var(--pico-primary-background);
}
.picolaf .jtabbedpane .borderlayout-south ul li {
  border-top: 2px solid transparent;
}
.picolaf .jtabbedpane .borderlayout-south ul li:has(.jradiobutton.active) {
  border-top: 2px solid var(--pico-primary-background);
}
.picolaf .jtabbedpane .borderlayout-east ul li {
  border-left: 2px solid transparent;
}
.picolaf .jtabbedpane .borderlayout-east ul li:has(.jradiobutton.active) {
  border-left: 2px solid var(--pico-primary-background);
}
.picolaf .jtabbedpane .borderlayout-west ul li {
  border-right: 2px solid transparent;
}
.picolaf .jtabbedpane .borderlayout-west ul li:has(.jradiobutton.active) {
  border-right: 2px solid var(--pico-primary-background);
}
.picolaf .jtabbedpane ul li:has(.jradiobutton.active) .jradiobutton {
  color: var(--pico-primary-background);
}

.picolaf .jtogglebutton {
  align-items: center;
}
