:root {
  --font-family: arial;
  --font-size: 14px;
  --main-color: black;
  --main-bgcolor: white;
  --main-action-color: white;
  --main-action-bgcolor: #0d6efd;
  --roundness: .5rem;
}
:root.dark-mode {
  --main-color: #dee2e6;
  --main-bgcolor: #212529;
}
.dark-mode a:link {
  color: lightskyblue;
}
.dark-mode a:visited {
  color: #6d4b8d;
}

html, body {
  height: 100%;
  margin: 0px;

  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--main-color);
  background: var(--main-bgcolor);
}

label {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--main-color);
}