.defaultlaf .jdialog {
  border: 1px solid gray;
  border-radius: 5px;
  min-width: 500px;
}
.defaultlaf .jdialog article {
  margin: 0 -1em;
}
.defaultlaf .jdialog  header {
  padding: 1rem 1rem;
  border-bottom: 1px solid gray;
}
.defaultlaf .jdialog header label {
  font-weight: 500;
  font-size: 1.1rem;
}
.defaultlaf .jdialog header button {
  border: none;
  background: transparent;
  font-size: 1.1rem;
  margin-top: -.2rem;
  cursor: pointer;
}
.defaultlaf .jdialog header button:after {
  content: "\2716";
}
.defaultlaf .jdialog .jdialog-content {
  padding: 1rem;
}

.jstabbedpane .north ul li, .defaultlaf .jstabbedpane .south ul li {
  display: inline-block;
}