html, body {
  height: 100%;
  margin: 0px;
}

.jframe {
  width: 100%;
  height: 100%;
}

.jpanel {

}
.jpanel.borderlayout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.jpanel.borderlayout > * {
  align-items: stretch;
}
.jpanel.borderlayout .north {
  width: 100%;
  order: 1;
}
.jpanel.borderlayout .east {
  order: 2;
}
.borderlayout .middle .center {
  flex-grow: 1;
  order: 3;
}
.jpanel.borderlayout .west {
  order: 4;
}
.jpanel.borderlayout .south {
  width: 100%;
  order: 5;
}

.jbutton {

}