html, body {
  height: 100%;
  margin: 0px;
}

.jframe {
  width: 100%;
  height: 100%;
}

.jpanel {

}

.jframe.borderlayout, .jpanel.borderlayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.jframe.borderlayout > .north, .jpanel.borderlayout > .north {
  width: 100%;
  order: 1;
}
.jframe.borderlayout > .middle, .jpanel.borderlayout .middle {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  order: 2;
}
.jframe.borderlayout > .middle > .west, .jpanel.borderlayout > .middle > .west {
  order: 1;
}
.jframe.borderlayout > .middle > .center, .jpanel.borderlayout > .middle > .center {
  flex-grow: 1;
  order: 2;
}
.jframe.borderlayout > .middle > .east, .jpanel.borderlayout .middle > .east {
  order: 3;
}
.jframe.borderlayout .south, .jpanel.borderlayout .south {
  width: 100%;
  order: 3;
}

.jbutton {

}